<!-- <ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button share="round" color="primary" (click)="logoutAction()">LOGOUT</ion-button>
  <ion-item>Name: {{displayUserData?.staff_name}}</ion-item>
  <div style="margin-top:1em;" *ngIf="showChangePassword==false" class="ion-text-center">
    <ion-button (click)="showChangePassword=true">
      Change Password kmu?
    </ion-button>
  </div>
  <ion-item color='primary' *ngIf="showChangePassword==true">
    <strong>
      CHANGE PASSWORD
    </strong>
  </ion-item>
  <ion-item *ngIf="showChangePassword==true">
    <ion-label>
      Old Password
    </ion-label>
    <ion-input [(ngModel)]='oldPassword' type="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="showChangePassword==true">
    <ion-label>
      New Password
    </ion-label>
    <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
  </ion-item>
    <div *ngIf="showChangePassword==true">
      <ion-button color="danger" expand='full' (click)="changePassword()">
        Send New Password
      </ion-button>
    </div>
    <div *ngIf="showChangePassword==true">
      <ion-button expand='full' fill="clear" color="dark" (click)="showChangePassword=false">
        Close
      </ion-button>
    </div>

</ion-content> -->

<ion-header>
  <ion-toolbar color="light">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label class="ion-text-uppercase" color="ios-lh-labl-gray">
      User Details
    </ion-label>
  </ion-list-header>
  <ion-list >
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-lowercase" lines="none">{{displayUserData?.staff_name}}</h2>
        <!-- <p class="ion-text-lowercase" lines="none">{{displayUserData?.staff_name}}@consurv.com.my</p> -->
      </ion-label>
      <div class="center">
        <ion-button (click)="signOut()" fill="clear">Log out</ion-button>
      </div>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="!user">
    <ion-item lines="full">
      <a class="link" (click)="loginAction()">Log in to view</a>
    </ion-item>
  </ion-list> -->

  <ion-list-header>
    <ion-label class="ion-text-uppercase" color="ios-lh-labl-gray">
      Communications
    </ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-icon name="send" slot="start" color="medium"></ion-icon>
      <ion-label>Push Notifications</ion-label>
      <ion-toggle slot checked></ion-toggle>
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="mail" slot="start" color="medium"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-toggle slot></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="chatbox-ellipses" slot="start" color="medium"></ion-icon>
      <ion-label>SMS</ion-label>
      <ion-toggle slot checked></ion-toggle>
    </ion-item> -->
  </ion-list>

  <div style="margin-top:1em;" *ngIf="showChangePassword==false" class="ion-text-center">
    <ion-button color="warning" (click)="showChangePassword=true">
      Change Password?
    </ion-button>
  </div>
  <ion-item color='warning' *ngIf="showChangePassword==true">
    <strong>
      CHANGE PASSWORD
    </strong>
  </ion-item>
  <ion-item *ngIf="showChangePassword==true">
    <ion-label position="floating">
      Old Password
    </ion-label>
    <ion-input [(ngModel)]='oldPassword' [type]="passwordType" clearOnEdit="false"></ion-input>
    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' slot="end"></ion-icon>
  </ion-item>
  <ion-item *ngIf="showChangePassword==true">
    <ion-label position="floating">
      New Password
    </ion-label>
    <ion-input [(ngModel)]="newPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' slot="end"></ion-icon>
  </ion-item>

    <div *ngIf="showChangePassword==true">
      <ion-button color="danger" expand='full' (click)="changePassword()">
        Send New Password
      </ion-button>
    </div>
    <div *ngIf="showChangePassword==true">
      <ion-button expand='full' fill="clear" color="dark" (click)="showChangePassword=false">
        Close
      </ion-button>
    </div>


</ion-content>
