.container {
    position: relative;
    left: 0;
    bottom: 10vh;
    right: 0;
    top: 2vh;
    @media screen and (max-width:1200px) and (min-width: 450px) {
        background: white;
    }
}

ion-toolbar {
    --min-height: 50px;
    color: #2C9DDE;
  }

 ion-button {
      --border-radius: 30px;
  }