<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Leave History (coming soon)</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cuti">
    <ion-card mode="ios">
      <ion-card-header></ion-card-header>
      <ion-card-content>
        <ion-card-title color="primary-contrast" style="font-size:20px; text-transform: uppercase;">
          {{userData.leavetype}}
        </ion-card-title>
        <ion-card-subtitle style="text-transform:none" color="primary-contrast">Personal reason / family matters</ion-card-subtitle>
        <ion-card-subtitle color="primary-contrast" style="font-size:20px"> 2 Days</ion-card-subtitle>
        <a>From: 1/9/21</a> <a> Full Day</a> <br> <a>To: 2/9/21</a> <a> Morning only</a>
        <ion-button color="warning" expand="block" class="main-button">PENDING</ion-button>
      </ion-card-content>
      
    </ion-card>
    
</div>
  
<div class="cuti">
  <ion-card mode="ios">
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-card-title color="primary-contrast" style="font-size:20px; text-transform: uppercase;">
        Annual Leave
      </ion-card-title>
      <ion-card-subtitle style="text-transform:none" color="primary-contrast">Personal reason / family matters</ion-card-subtitle>
      <ion-card-subtitle color="primary-contrast" style="font-size:20px"> 2 Days</ion-card-subtitle>
      <a>From: 1/9/21</a> <a> Full Day</a> <br> <a>To: 2/9/21</a> <a> Morning only</a>
      <ion-button color="success" expand="block" class="main-button">APPROVED</ion-button>
    </ion-card-content>
    
  </ion-card>
  
</div>
<div class="cuti">
  <ion-card mode="ios">
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-card-title color="primary-contrast" style="font-size:20px; text-transform: uppercase;">
        Annual Leave
      </ion-card-title>
      <ion-card-subtitle style="text-transform:none" color="primary-contrast">Personal reason / family matters</ion-card-subtitle>
      <ion-card-subtitle color="primary-contrast" style="font-size:20px"> 2 Days</ion-card-subtitle>
      <a>From: 1/9/21</a> <a> Full Day</a> <br> <a>To: 2/9/21</a> <a> Morning only</a>
      <ion-button color="success" expand="block" class="main-button">APPROVED</ion-button>
    </ion-card-content>
    
  </ion-card>
  
</div>
<div class="cuti">
  <ion-card mode="ios">
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-card-title color="primary-contrast" style="font-size:20px; text-transform: uppercase;">
        Annual Leave
      </ion-card-title>
      <ion-card-subtitle style="text-transform:none" color="primary-contrast">Personal reason / family matters</ion-card-subtitle>
      <ion-card-subtitle color="primary-contrast" style="font-size:20px"> 2 Days</ion-card-subtitle>
      <a>From: 1/9/21</a> <a> Full Day</a> <br> <a>To: 2/9/21</a> <a> Morning only</a>
      <ion-button color="danger" expand="block" class="main-button">NOT APPROVED</ion-button>
    </ion-card-content>
    
  </ion-card>
  
</div>
<div class="cuti">
  <ion-card mode="ios">
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-card-title color="primary-contrast" style="font-size:20px; text-transform: uppercase;">
        MC Leave
      </ion-card-title>
      <ion-card-subtitle style="text-transform:none" color="primary-contrast">Contagious illness </ion-card-subtitle>
      <ion-card-subtitle color="primary-contrast" style="font-size:20px"> 3 Days</ion-card-subtitle>
      <a>From: 1/9/21</a> <a> Full Day</a> <br> <a>To: 3/9/21</a> <a> Morning only</a>
      <ion-button color="success" expand="block" class="main-button">APPROVED</ion-button>
    </ion-card-content>
    
  </ion-card>
  
</div>
</ion-content>