:host {
    // ion-tab-bar {
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    // }

    // ion-tab-button {
    //     max-width: 56px;
    //     max-height: 36px;
    // }

    .tab-selected{
        color: #ffffff;
        background-color: #2C9DDE;
        border-radius: 30px 50px 0px 0px;
    }
}